.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background: transparent;
  z-index: 10;
}

.header:hover > .headerContainer {
  top: 0px !important;
}

.headerContainer {
  position: relative;
  top: -100px;
  transition: 1s top;
}

.headerLeftContainer {
  display: inline-block;
  position: absolute;
  display: flex;
  align-items: center;
  top: 30px;
  left: 70px;
  transition: top 1s;
}

.headerRightContainer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 350px;
  top: 30px;
  right: 70px;
  transition: top 1s;
}

.headerTitle {
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.headerSubtitle {
  font-size: 12px;
  color: white;
}

.headerLink {
  font-size: 14px;
  font-weight: 800;
  width: 70px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.headerLink:not(:first-child) {
  margin-left: 10px;
}

.headerLogo {
  width: 15px;
  height: 38px;
  margin-right: 5px;
  background-image: url("../img/dinfong_logo2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  height: 50px;
  background: #585858;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  white-space: normal;
}

.svgContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.svg {
  width: 500px;
  height: 250px;
}

.animation {
  stroke-dasharray: 680;
  stroke-dashoffset: -680;
  animation: move 6s linear infinite;
  animation-delay: 0.5s;
}

@keyframes move {
  0% {
    stroke-dashoffset: -680;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.svgText {
  position: absolute;
  display: inline-block;
  font-size: 26px;
  font-weight: 900;
}

.sidebarButton {
  display: none;
}

/* rwd */
@media screen and (max-width: 780px) {
  .headerLeftContainer {
    left: 30px;
  }

  .headerRightContainer {
    display: none;
  }

  /* rwd 模式開啟 sidebar */
  .popUpHeaderContainer {
    position: relative;
    top: 0px !important;
    width: 100vw;
    height: 100vh;
    background-color: #2b2b2b;
    z-index: 1;
  }

  .popUpHeaderRightContainer {
    position: relative;
    height: calc(100vh - 80px);
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headerLink {
    font-size: 26px;
    font-weight: 800;
    width: fit-content;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }

  .headerLink:nth-child(n + 1) {
    margin-top: 50px;
  }

  .sidebarButton {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
  }

  .sidebarButton > div {
    width: 100%;
    height: 5px;
    background-color: white;
  }

  .svg {
    width: auto;
    height: auto;
  }

  .footer {
    height: fit-content;
    padding: 10px 20px;
    line-height: 16px;
  }
}
